/*new css*/

.container {
    width: 98%;
    margin-left: 2%;
}
.p30 .container {
    margin-left: 0px;
}

.col4 {
    width: 24%;
}

.col8 {
    width: 72%;
    margin-left: 0px;
}

.foot4 {
    width: 45%;
}

.foot8 {
    width: 45%;
}

.cam_wrap  p {
    color: whitesmoke;
}

.thumb{
    border: 1px solid #E22323;
    width: 100%;
    height: 435px;
}

.temp12 {
    width: 100%;
}

.temp3 {
    width: 24%;
}

.deta12 {
    width:90%;
    margin-left: 5%;
}
.deta1 {
    width: 90%;
    margin-left: 7%;
}

.carcol5 {
    width: 50%;
}

#sliderbar #slider  #carcontent .temp3{
    width: 30%;
    margin-left: 0px;
    margin-right: 3%;
}

#header {
    position: relative;
    background: #f0f0f0 url(./images/header_bg.png) 0 0 repeat-x;
    text-align: left;
    -webkit-box-shadow: 0 7px 7px #dddddd;
    box-shadow: 0 7px 7px #dddddd;
}

nav {
    margin: 0;
    padding: 0;
    /*background: url(../images/menu_bg.jpeg) 0 0 repeat-x;*/
    height: 75px;
}

.catimg_class {
    width: 100%;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
    display: none;
}

.checkbox img{
    margin-bottom: 1%;
}

.text-center{
    text-align: center;
}

.cam_wrap {
    position: relative;
    bottom: -450px;
    padding: 22px 27px 24px;
    background: black;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.74);
}

#sliderbar{
    min-height:300px;
    max-height:930px;
    overflow-x: hidden;
    margin-top: 6%;
    margin-bottom: 5%;
}

#slider > #carcontent > .grid_12 > .row > .alpha{
    margin-right: 2%;
}

#slider > #carcontent > .grid_12 > .row > .omega {
    margin-left: 1%;
}

.panel-heading{
    margin: 0px 0px 8px 8px;
}

p{
    color: black;
}

.well {
    border: 1px solid #e22323;
}

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    min-height: 600px;
    /*background-color: #f5f5f5;*/
}

.sidebar .well {
    border-radius: 0px;
    /* background-color: #EEE; */
    background-color: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 12px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    /* padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.intres {
    position: relative;
    display: inline-block;
    background: #e22323;
    color: #ffffff!important;
    font-family: 'Lato';
    text-decoration: none;
    text-transform: uppercase;
    margin: 25px 0 0;
    padding: 0 28px;
    font-size: 16px;
    line-height: 53px;
    font-weight: 700;
    border-radius: 0px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar legend {
    font-size: 18px;
    font-weight: 300;
}

legend {
    padding: 0 0 2% 0;
    margin-bottom: 2%;
    border-bottom: 1px solid #e22323;
    width: 100%;
}

fieldset {
    padding: 4% 0;
}

.cat_opacity {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

textarea.form-control {
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container .omega {
    margin-right: 1%;
    margin-left: 1%;
}

.container .alpha {
    margin-left: 0px;
    margin-right: 1%;
}

.caption{
    padding: 2px 24px 8px 24px;
    line-height: 1.5em;
}

.slider-handle {
    background-image: -webkit-linear-gradient(top, #e22323 0, #e22323 100%);
}

.slider .slider-horizontal{
    margin-left: 22px!important;
}

b, strong {
    font-weight: 700;
}

.thumbnail {
    border: 1px solid #e22323;
}

.tick {
    color: #008000;
}

.cross {
    color: #ff0000;
}

.form-text{
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.thumb > a > img{
    max-width: 100%;
    height: 250px;
}

#carimage{
    width: 100% ;
    height: 400px;
    padding: 1%;
}

.slider.slider-horizontal {
    width: 90%;
    height: 20px;
    margin-left: 5%;
    margin-top: 10px;
}

#footer h1 a {
    text-transform: uppercase;
    position: relative;
    color: #e22323;
    font-weight: 500;
    font-size: 54px;
    line-height: 80px;
    z-index: 1;
    letter-spacing: -5px;
}

#footer h1 a span {
    margin-left: 11px;
    font-size: 32px;
    line-height: 94px;
    font-weight: 300;
    color: #000000;
    letter-spacing: -3px;
    vertical-align: bottom;
}

#head3 {
    color: #000000;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 6%;
}

#head4 {
    text-transform: none;
    font-size: 16px;
}

.heade4 {
    margin-top: 0;color: red;font-size: 24px;font-weight: 400;
}

#grid8 {
    width: 98%;
}

h1 a {
    font-size: 72px;
}
/*Tablet css*/

@media only screen and (max-width: 1024px){
    h1 a {
        font-weight: 700;
        font-size: 62px;
    }

    h1 a span {
        font-size: 40px;
        line-height: 62px;
        font-weight: 300;
    }

    .head {
        width: 60px;
    }
    .grid_12 {
        width: 98%;
    }
    .sf-menu>li+li {
        border-left: 1px solid #c8c8c8;
        margin-left: -20px;
    }
    .sf-menu li:first-child {
        border-left: 1px solid #c8c8c8;
        margin-left: -10px;
    }
    #footer {
        position: relative;
        text-align: center;
        padding: 22px 0 25px;
    }
    #footer h1 a span {
        font-size: 32px;
        line-height: 48px;
        font-weight: 300;
        letter-spacing: -3px;
    }
    #footer h1 a {
        position: relative;
        font-weight: 400;
        font-size: 44px;
    }
    .foot4 {
        width: 50%;
    }
    .foot8 {
        display: none;
    }
    .cam_wrap {
        display: none;
    }
    .thumb > a > img {
        max-width: 100%;
        height: 200px;
    }
    .deta12 {
        width: 93%;
        margin-left: 4%;
    }
    #carimage {
        width: 100%;
        height: 336px;
        padding: 1%;
    }
    .card6 {
        width: 45%;
    }
    .card3 {
        width: 30%;
    }
    .p30 .container .row .deta12 {
        width: 94%;
        margin-left: 5%;
    }
    .deta1 {
        width: 94%;
        margin-left: 5%;
    }

}

@media only screen and (max-width: 768px){

    #sliderbar {
        min-height: 300px;
        max-height: 1000px;
        overflow-x: hidden;
        margin-bottom: 100px;
    }

    #sliderbar #slider #carcontent .temp3 {
        width: 100%;
    }

    .container {
        width: 500px;
        padding: 0 15px;
    }
    .row {
        margin-left: 0;
    }
    [class*="grid_"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .select-menu {
        display: block!important;
        background: #000000;
        border: 2px solid #ffffff;
        color: #ffffff;
        display: block;
        height: 28px;
        margin: 24px 0 0;
        padding: 3px 3px;
        text-align: left;
        text-transform: uppercase;
        width: 100%;

    }
    .sf-menu {
        display: none;
    }
    .container {
        width: 98%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .cam_wrap {
        display: none;
    }

    #sliderbar {
        margin-top: 175px;
    }
    #slider > #carcontent > .grid_12 > .row > .omega {
        margin-left: 6px;
    }

    .thumb {
        border: 1px solid #E22323;
        width: 96%;
        height: 600px;
    }
    .m1 {
        margin-bottom: 43px;
    }
    .thumb > a > img {
        width: 100%;
        height: 375px;
    }
    .container .alpha {
        margin-left: 0px;
        margin-right: 0px;
    }
    .camera_caption .year {
        display: none;
    }
    h1 a {
        font-size: 60px;
        line-height: 76px;
    }

    h1 a span {
        font-size: 36px;
        letter-spacing: -3px;
        line-height: 43px;
    }

    .navi {
        width: 68%;
        margin-left: 15%;
    }
    .col4 {
        width: 80%;
        margin-left: 10%;
    }
    .col8 {
        width: 80%;
        margin-left: 10%;
    }
    .#sliderbar {
        margin-top: 75px;
        width: 80%;
        margin-left: 10%;
    }
    .deta12 {
        width: 90%;
        margin-left: 5%;
        margin-top: -25%;
    }
    #marg {
        margin-top: 0%;
    }
    .deta1 {
        width: 90%;
        margin-left: 5%;
    }
    .p30 .container .row .deta12 {
        width: 90%;
        margin-left: 5%;
    }

}

/*Mobile css*/

@media only screen and (max-width: 640px) {

    .container {
        width: 95%;
        padding: 0 15px;
    }

    .row {
        margin-left: 0;
    }

    article {
        margin-top: 50px;
    }

    #carimage{
        width: 250px;
        height: 200px;
        padding: 2px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* Could be more or less, depending on screen size */
    }

    #grid8 {
        width: 98%;
    }

    h1 a {
        font-size: 26px;
        line-height: 43px;
        letter-spacing: 0px;
    }

    h1 a span {
        font-size: 20px;
        letter-spacing: -3px;
        line-height: 55px;
        margin-left: -10px;
    }
    #footer h1
    {
        text-align:center;
        margin-bottom:-1%;
    }
    #foocopy
    {
        text-align:center;
    }
    #footer h1 a {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 54px;
    }
    #footer h1 a span {
        font-size: 16px;
        letter-spacing: -3px;
        line-height: 66px;
        /*margin-left: 6px;*/
    }
    #footer{
        padding: 0px 0px 9px;
    }
    .thumb {
        border: 1px solid #E22323;
        width: 95%;
        height: 420px;
    }

    .m1 {
        margin-bottom: 43px;
    }

    #sliderbar {
        margin-top: 75px;
    }

    #slider > #carcontent > .grid_12 > .row > .omega {
        margin-left: 6px;
    }

    .thumb > a > img {
        width: 100%;
        height: 250px;
    }

    .col4 {
        width: 95%;
        margin-left: 5%;
    }

    .col8 {
        width: 90%;
        margin-left: 10%;
    }
    .p30 .container .row .deta12 {
        width: 90%;
        margin-left: 8%;
    }
    .deta1 {
        width: 90%;
        margin-left: 8%;
    }
    #head3 {
        text-transform: none;
    }

    #foocopy1 {
        margin-left: 40%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

}

@media only screen and (max-width: 480px){
    h1 a {
        font-size: 22px;
    }

    h1 a span {
        font-size: 20px;
        letter-spacing: -3px;
        line-height: 55px;
        margin-left: 0;
    }
    article {
        margin-top: 50px;
    }

    #carimage{
        width: 250px;
        height: 200px;
        padding: 2px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* Could be more or less, depending on screen size */
    }

    #foocopy1 {
        margin-left: 35%;
    }


    .thumb {
        border: 1px solid #E22323;
        width: 95%;
        height: 435px;
    }

    .m1 {
        margin-bottom: 43px;
    }

    #sliderbar {
        margin-top: 75px;
    }

    #slider > #carcontent > .grid_12 > .row > .omega {
        margin-left: 6px;
    }

    .thumb > a > img {
        width: 100%;
        height: 205px;
    }

    #head3 {
        text-transform: none;
    }
}

@media only screen and (max-width: 360px) {
    h1 a {
        font-size: 18px;
    }

    #foocopy1 {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 320px) {

    .container {
        width: 95%;
        padding: 0 15px;
    }

    .row {
        margin-left: 0;
    }

    article {
        margin-top: 50px;
    }

    #carimage{
        width: 100%;
        height: 200px;
        padding: 2px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* Could be more or less, depending on screen size */
    }

    h1 a {
        font-size: 14px;
    }

    h1 a span {
        font-size: 20px;
        letter-spacing: -3px;
        line-height: 55px;
        margin-left: -10px;
    }

    .thumb {
        border: 1px solid #E22323;
        width: 95%;
        height: 434px;
    }

    .m1 {
        margin-bottom: 43px;
    }

    #sliderbar {
        margin-top: 75px;
    }

    #slider > #carcontent > .grid_12 > .row > .omega {
        margin-left: 6px;
    }

    .thumb > a > img {
        width: 100%;
        height: 250px;
    }

    .col4 {
        width: 95%;
        margin-left: 5%;
    }

    .col8 {
        width: 90%;
        margin-left: 10%;
    }
    .p30 .container .row .deta12 {
        width: 90%;
        margin-left: 8%;
    }
    .deta1 {
        width: 90%;
        margin-left: 8%;
    }

    #head3 {
        text-transform: none;
    }

    #foocopy1 {
        margin-left: 28%;
    }
}






